django
gunicorn
whitenoise
langchain
langchain-community
langchain-google-genai
langchain-chroma
chromadb
pytesseract
pdf2image
pillow
python-dotenv
google-generativeai
google-genai
django-environ
pypdf
langchain-text-splitters
scikit-learn
numpy
